*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/pexels-min-an-1403550.jpg');
  background-color: rgba($color: #7e9bb1, $alpha: 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;
}
.video-container__weather {
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
  position: absolute;
  bottom: 25%;
}

// Header Section

.header {
  background-color: rgba($color: rgb(197, 195, 195), $alpha: 0.2);

  &__container {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0.5rem 1rem rgba($color: #000, $alpha: 0.2);
  }

  &__title {
    font-size: 2rem;
    color: #fff;
    opacity: 0.9;
    font-family: 'Lobster', cursive;
  }

  &__logo {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.9;
  }
}

// Map styles

.map__container {
  display: flex;
  padding: 2rem 3rem 0.25rem;
  justify-content: center;
}

#pac-input {
  width: 75%;
  text-align: center;

  @media (min-width: 48rem) {
    width: 50%;
  }
  @media (min-width: 80rem) {
    width: 30%;
  }
}

#map {
  margin: 1rem auto;
  height: 25rem;
  border-radius: 1.5rem;
  width: 90%;

  @media (min-width: 48rem) {
    width: 75%;
  }

  @media (min-width: 80rem) {
    width: 70%;
  }

  @media (max-height: 48rem) {
    height: 15rem;
    width: 50%;
  }
}

// Info Section

.info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1rem rgba(0, 0, 0, 0.7);
  text-align: center;
  color: rgba($color: #fff, $alpha: 1);

  @media (min-width: 48rem) {
    padding: 0 2rem;
    justify-content: space-around;
  }
}

// Perciptation column

.percipitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 1rem;
    text-align: center;
    color: rgba($color: #fff, $alpha: 1);
    font-family: 'Poppins', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
  }

  &__percentage {
    font-size: 3rem;
    color: rgba($color: #fff, $alpha: 1);
    font-family: 'Poppins', cursive;
  }
}

// Clock column

.clock {
  &-container {
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;

    @media (min-width: 48rem) {
      flex-direction: row;
      width: 50%;
      padding: 3rem;
      font-size: 2.5rem;
    }

    @media (min-width: 80rem) {
      flex-direction: row;
      width: 50%;
      padding: 3rem;
    }
  }

  &-col {
    text-align: center;

    @media (min-width: 48rem) {
      margin: 0 1.8rem;
    }
  }
  &-timer {
    &:before {
      color: #fff;
      font-size: 4.2rem;
      text-transform: uppercase;
    }
  }
  &-label {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 10px;

    @media (min-width: 48rem) {
      font-size: 1rem;
    }
  }
}

// Slider column

.slider {
  &-title__name {
    font-size: 1rem;
  }
}
